
.search{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
input{
    border-radius: 2rem;
    border: 1px solid grey;
    background-image:url('../../assets/images/bi_search.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 4rem;
    padding: 2rem;
}
::placeholder{
    color: #FF6C88;
    font-size: 1.5rem;
}
.welcome{
    color: #FF6C88;
    text-align: center;
    margin-top: .6rem;
    text-transform: uppercase;
}
.switch{
    margin-left:4rem;
    width: 24rem;
    height: 4rem;
    background-color: #c6c1eb;
    border-radius: 3rem;
}
