

<div class="parent">
    <div class="header">
    <h2 class="heading">interrogation activity</h2>
    <img src="../../assets/images/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
</div>

    <div class="container">
        <div class="row">
            <div class="btns">
            <div class="col-md-4">
                <button class="b1">Videos</button>
            </div>

            <div class="col-md-4">
                <button class="b1">Images</button>
            </div>

            <div class="col-md-4">
                <button class="b2">Files</button>
            </div>
        </div>
        </div>
    </div>
    
         <img src="../../assets/images/unsplash_W_4pmSwWCkg.png" alt="splash">

         <div class="kano">
         <button class="kano-btn">Kano </button>
         <span class="text">Murder Attempt of poilitical Leaderof Labour Party</span>
        </div>

        <div class="uploaded">
            <div class="up-by">uploaded By: William S.</div>
            <div class="timestamp">Timestamp, 2021, Nov 21</div>
        </div>

        <button class="watch">Watch</button>
</div>