 <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../assets/images/Logo.png" height="50" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item d-flex align-items-center">
          <img src="../../assets/images/home_repair_service.png" alt="img">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item d-flex align-items-center">
          <img src="../../assets/images/signal_cellular_alt.png" alt="img">
          <a class="nav-link" href="#">User</a>
          <img src="../../assets/images/arrow_drop_down_circle.png" alt="img">
        </li>

        <li class="nav-item d-flex align-items-center">
          <img src="../../assets/images/mail.png" alt="img">
          <a class="nav-link" href="#">Mailing</a>
        </li>

        <li class="nav-item d-flex align-items-center">
          <img src="../../assets/images/pending_actions.png" alt="img">
          <a class="nav-link" href="#">Billing</a>
          <img src="../../assets/images/arrow_drop_down_circle.png" alt="img">
         </li>

         <li class="nav-item d-flex align-items-center">
          <img src="../../assets/images/home_repair_service.png" alt="img">
        <a class="nav-link" href="#">Tools</a>
      </li>
      

      <li class="nav-item d-flex align-items-center">
        <img src="../../assets/images/tune.png" alt="img">
          <a class="nav-link" href="#">Settings</a>
          <img src="../../assets/images/arrow_drop_down_circle.png" alt="img">
        </li>


        <li class="nav-item d-flex align-items-center">
          <img src="../../assets/images/quiz.png" alt="img">
            <a class="nav-link" href="#">Help</a>
          </li>

      </ul>
      <form class="d-flex gap-3">
        <img src="../../assets/bell.png" alt="bell-icon" class="bell-image">
        <img src="../../assets/images/JaneImage.png" alt="jane-image" class="jane-image">
      </form>
    </div>
  </div>
</nav> 

 