

<div class="parent">
    <div class="btns">
         <button class="live">Live Arrest Feed</button>
           <button class="filter">Filters:Region</button>
    </div>

    <div class="text">
        <div class="select-text">Selct the colour to view particular criminial activity</div>
        <div class="scroll">Scroll Horizontally to view crime nature</div>
    </div>

    <div class="dots">

        <div class="dot-1">
        <div class="pink-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-2">
        <div class="yellow-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-3">
        <div class="blue-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-4">
        <div class="pink-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-5">
        <div class="pink-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-6">
        <div class="pink-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-7">
        <div class="pink-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    <div class="dot-8">
        <div class="pink-dot"></div>
        <div class="text-bul">Bulbury</div>
    </div>
    </div>

    <div class="child">
        <div class="gis">Gis</div>
        <div class="google">Google map</div>
        
        <div class="sat">
            <div class="satellite">Satellite</div>
            <img src="../../assets/images/switch.png" alt="swicth" class="switch-image">
            

         <div class="map-part">
        <div class="map-text">Map</div>
        <img src="../../assets/images/on.png" alt="on image" class="on-image">
    </div>
</div>
    </div>

    <img src="../../assets/images/map.png" alt="map-image" class="map-image">
</div>