
<div class="parent">
    <div class="child">
        <div class="year-btn">Year</div>
        <div class="crime">Crime-Nature</div>
        <div class="region">Region</div>
    </div>

    <div class="btns">
        <button class="b1">2021</button>
        <button class="b2">ALL</button>
        <button class="b2">ALL</button>
    </div>



    <div class="header">
    <h2 class="heading">Criminal trends in this year</h2>
    <img src="../../assets/images/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
    </div>
    


<div class="dashboard">
    <button class="button btn-bur">BURGLARY</button>
    <button class="button btn-ar">Armed Robbery</button>
    <button class="button btn-th">Theft</button>
    <button class="button btn-sh">Shooting</button>
    <button class="button btn-ot">other</button>
</div>
</div>