

  <app-navbar></app-navbar>
  <app-searchbar></app-searchbar>

  

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
        <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
    </div>

      <div class="col-md-6">
        <div class="left">
      <app-yearsection></app-yearsection>
      <app-mapsection></app-mapsection>
      <app-criminalactivity></app-criminalactivity>
    </div>
  </div>

    <div class="col-md-5">
      <div class="right">
      <app-interrogationsection></app-interrogationsection>
      <app-exibitsection></app-exibitsection>
      <app-officers-on-patrol></app-officers-on-patrol>
    </div>
  </div>

    </div>
  </div>
 
  
