

<div class="parent">
    
<div class="header">
    <h2 class="heading">Criminal Activity stats</h2>
    <img src="../../assets/images/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
</div>
    
    <div class="search-bar">
        <input type="text" placeholder="Search Category">
        <button class="view-cart">View:Cart :</button>
        <div class="icons">
            <img src="../../assets/images/akar-icons_download.png" alt="icon1">
            <img src="../../assets/images/el_print.png" alt="icon2">
            <img src="../../assets/images/fluent_delete-24-regular.png" alt="icon3">
        </div>
    </div>
    
    <div class="chart-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list">

                    <div class="list-1">
                       <div class="dot"></div>
                       <div class="text">400</div>
                       <div class="crime">Crime Reported</div>
                    </div>
        
                    <div class="list-2">
                        <div class="dot-green"></div>
                        <div class="text">400</div>
                        <div class="crime">Crime Reported</div>
                     </div>
        
                     <div class="list-3">
                        <div class="dot"></div>
                        <div class="text">400</div>
                        <div class="crime">Crime Reported</div>
                     </div>
        
                     <div class="list-4">
                        <div class="dot"></div>
                        <div class="text">400</div>
                        <div class="crime">Crime Reported</div>
                     </div>
                </div>
                       
            </div>
            <div class="col-md-9">
                <div class="chart">
                <h2 class="heading-2">Criminal Arrested</h2>
    
                <div class="filter-data">
                    <button class="filter">Filters: <span>Region(ALL)</span>:</button>
                    <button class="year">Year</button>
                    <button class="year">Month</button>
                    <button class="year">Day</button>
                    <button class="year">Week</button>
                </div>
                <img src="../../assets/images/chart.png" alt="chart" class="chart-image">
        </div>
    </div>
        </div>

       

    </div>
</div>

</div>
