

<div class="parent">
    
    <div class="header">
    <h2 class="heading">Officers on patrol</h2>
    <img src="../../assets/images/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
</div>

    <div class="scroll">
        <div class="text">Scroll To View More</div>
        <div class="btn-onduty">On-duty</div>
        <div class="btn-offduty">Off-duty</div>
        <div class="arrow-btn">
            <img src="../../assets/images/Polygon 1.png" alt="p1" class="p1">
            <img src="../../assets/images/Polygon 2.png" alt="p2">
        </div>
    </div>

    <div class="william-section">

        <div class="section-1">

        <img src="../../assets/images/william.png" alt="william img" class="william-img">

        <div class="info-container">
        <div class="maji-william">
            <div class="will-text">Maji Williams</div>
            <div class="poll">| poll:la/ik/10039</div>
        </div>

        <div class="address-time">
            <div class="address">143,block 1 sector A2</div>
            <div class="time">Time:20 Min</div>
        </div>

        <div class="icons">
            <img src="../../assets/images/phone.png" alt="ph-icon" class="phone">
            <img src="../../assets/images/chat.png" alt="chat-icon" class="chat">
            <img src="../../assets/images/mark_email_unread.png" alt="email-icon" class="email">
        </div>
    
    </div>

     <div class="btns">
        <img src="../../assets/images/icon.png" alt="icon" class="icon">
        <button class="kane">Kane</button>
     </div>
    
  <!-- Section-1 -->  
</div>

<div class="section-1">

    <img src="../../assets/images/william.png" alt="william img" class="william-img">

    <div class="info-container">
    <div class="maji-william">
        <div class="will-text">Maji Williams</div>
        <div class="poll">| poll:la/ik/10039</div>
    </div>

    <div class="address-time">
        <div class="address">143,block 1 sector A2</div>
        <div class="time">Time:20 Min</div>
    </div>

    <div class="icons">
        <img src="../../assets/images/phone.png" alt="ph-icon" class="phone">
        <img src="../../assets/images/chat.png" alt="chat-icon" class="chat">
        <img src="../../assets/images/mark_email_unread.png" alt="email-icon" class="email">
    </div>

</div>

 <div class="btns">
    <img src="../../assets/images/icon.png" alt="icon" class="icon">
    <button class="kane">Kane</button>
 </div>

<!-- Section-1 -->  
</div>

<div class="section-1">

    <img src="../../assets/images/william.png" alt="william img" class="william-img">

    <div class="info-container">
    <div class="maji-william">
        <div class="will-text">Maji Williams</div>
        <div class="poll">|poll:la/ik/10039</div>
    </div>

    <div class="address-time">
        <div class="address">143,block 1 sector A2</div>
        <div class="time">Time:20 Min</div>
    </div>

    <div class="icons">
        <img src="../../assets/images/phone.png" alt="ph-icon" class="phone">
        <img src="../../assets/images/chat.png" alt="chat-icon" class="chat">
        <img src="../../assets/images/mark_email_unread.png" alt="email-icon" class="email">
    </div>

</div>

 <div class="btns">
    <img src="../../assets/images/icon.png" alt="icon" class="icon">
    <button class="kane">Kane</button>
 </div>

<!-- Section-1 -->  
</div>

<div class="section-1">

    <img src="../../assets/images/william.png" alt="william img" class="william-img">

    <div class="info-container">
    <div class="maji-william">
        <div class="will-text">Maji Williams</div>
        <div class="poll">| poll:la/ik/10039</div>
    </div>

    <div class="address-time">
        <div class="address">143,block 1 sector A2</div>
        <div class="time">Time:20 Min</div>
    </div>

    <div class="icons">
        <img src="../../assets/images/phone.png" alt="ph-icon" class="phone">
        <img src="../../assets/images/chat.png" alt="chat-icon" class="chat">
        <img src="../../assets/images/mark_email_unread.png" alt="email-icon" class="email">
    </div>

</div>

 <div class="btns">
    <img src="../../assets/images/icon.png" alt="icon" class="icon">
    <button class="kane">Kane</button>
 </div>

<!-- Section-1 -->  
</div>

</div>


<!-- parent end -->
</div>